* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: grid;
    min-height: 100vh;
    place-items: center;
    background: #090b1a;
    font-family: 'Inter', sans-serif;
}

.card-container {
    width: 100%;
    margin: auto;
    display: flex;
    overflow: hidden;
    max-width: 1100px;
    align-items: center;
    border-radius: 10px;
    background: #1b1938;
    justify-content: space-between;
}

.card-container .card-details {
    width: 50%;
    padding: 50px;
}

.card-container .card-details h1 {
    font-size: 40px;
    color:  #ffffff;
    margin-bottom: 30px;
}

.card-container .card-details h1 span {
    color:  #aa5cdb;
}

.card-container .card-details p {
    color: #ffffff99;
    margin-bottom: 50px;
}

.card-container .card-details .details-container {
    display: flex;
    align-items: center;
}

.card-container .card-details .details-container .detail {
    margin-right: auto;
}

.card-container .card-details .details-container .detail h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.card-container .card-details .details-container .detail p {
    font-size: 14px;
    margin-bottom: 0;
    color: #ffffff99;
    text-transform: uppercase;
}

.card-container .card-image {
    width: 50%;
    background: #aa5cdb;
}

.card-container .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.card-container .card-image .mobile-image {
    display: none;
}

/* ATTRIBUTION */
.attribution {
    color: #ffffff;
    text-align: center;
}

.attribution a {
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    background: #aa5cdb;
    text-decoration: none;
}

/* MEDIA QUERY FOR SCREENS FROM 0 - 1200PX */
@media screen and (max-width: 1200px) {
    .card-container {
        width: 50%;
        flex-direction: column-reverse;
    }

    .card-container .card-details {
        width: 100%;
        text-align: center;
    }

    .card-container .card-image {
        width: 100%;
    }

    .card-container .card-image .mobile-image {
        display: block;
    }
    
    .card-container .card-image .desktop-image {
        display: none;
    }
}


/* MEDIA QUERY FOR SCREENS FROM 0 - 800PX */
@media screen and (max-width: 800px) {
    .card-container {
        width: 75%;
    }

    .card-container .card-details h1 {
        font-size: 30px;
        color:  #ffffff;
        margin-bottom: 30px;
    }
}


/* MEDIA QUERY FOR SCREENS FROM 0 - 600PX */
@media screen and (max-width: 600px) {
    .card-container {
        width: 90%;
        margin: 100px 0;
    }

    .card-container .card-details .details-container .detail h2 {
        font-size: 20px;
    }
    
    .card-container .card-details .details-container .detail p {
        font-size: 12px;
    }
}

